# .gitignore
# --------------------------------------
# Python / Django
# --------------------------------------
dist/
build/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*$py.class
**/migrations/*.py[cod]
*.pyo
*.pyc
# Django DB local
db.sqlite3
*.sqlite3
# Archivos de entorno (NO subir nunca claves)
*.env
.env
.env.*
.venv/
.poetry/

# Archivo de credenciales y secretos
src/secret.json
firebase-admin-key.json

# --------------------------------------
# Archivos del sistema operativo / IDEs
# --------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archivos de configuración en ubuntu
gunicorn_start.sh

# Otros posibles temporales
*.bak
*.tmp

# Archivos de logs o temporales
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.tmp

# --------------------------------------
# Static/media solo si NO los subes
# (Descomenta si los manejas en S3/CDN y no local)
media/
staticfiles/