# --- Python / Django ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*$py.class
*.pyo
*.pyc

# Django migrations cache only (NO ignorar migraciones .py)
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo

# Django DB local
db.sqlite3
*.sqlite3

# --- Poetry ---
.venv/
.poetry/
.cache/

# --- Entornos y secretos ---
.env
*.env

# --- Archivos sensibles ---
src/secrets/secret.json
src/secrets/firebase-admin-key.json

# --- IDE y sistema ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Logs y temporales ---
*.log
*.pot
*.swp
*.swo
*.bak
*.tmp

# --- Archivos de despliegue si NO quieres subirlos ---

# --- Archivos media/static si los manejas en S3/CDN ---
src/media
staticfiles/
