<div
      class="relative items-center hidden w-full h-full bg-brand-950 dark:bg-white/5 lg:grid lg:w-1/2"
    >
      <div class="flex items-center justify-center z-1">
        <div class="flex flex-col items-center max-w-xs">
          <a href="index.html" class="block mb-4">
            <span class="text-white font-semibold text-2xl">GUTI</span><span class="text-red-500 font-semibold text-2xl">MOTOS</span>
          </a>
          <p class="text-center text-gray-400 dark:text-white/60">
            {{ message }}
          </p>
        </div>
      </div>
    </div>