{% extends 'base.html' %}
{% block head %}
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        {% block title %} {% endblock title %}
    </title>
    
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
</head>
{% endblock head %}
{% block body %}
<body
    x-data="{ page: 'comingSoon', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark bg-gray-900': darkMode === true}"
  >
    <!-- ===== Preloader Start ===== -->
    <!--<include src="./partials/preloader.html"></include>-->
    {% include 'includes/preloader.html' %}
    <!-- ===== Preloader End ===== -->

    <!-- ===== Page Wrapper Start ===== -->
    {% block main %}
    {% endblock main %}
    <!-- ===== Page Wrapper End ===== -->

    {% block js %}
        <script src="{% static 'js/bundle.js' %}"></script>
    {% endblock js %}
</body>
{% endblock body %}

